
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {

}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    height: 70px;
    background-color: #cfebf7;
}

.layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main-container {
    display: flex;
    flex: 1 0 auto;
    margin-top: 0;
}

.container {
    border: 1px solid red;
}

.v-hidden {
    display: none;
}

.race-header {
    text-align: center;
    font-size: 20px;
    font-family: "Lora", serif;
    margin-top: 20px;
    font-weight: 600;
}

.search-input {
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.racesList-container-year {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    justify-content: start;
}

.racesList-container-year h4 {
    width: 100%;
    text-align: center;
    font-weight: 500;

}

.ant-form-item-control-input-content {
    display: flex;
    justify-content: center;
}


.diagrams-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 40px;
}

.diagrams-info {
    display: block;
    text-align: center;
    font-size: 17px;
    color: rgba(40, 44, 52, 0.82);
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: 400;
}

.diagrams-name {
    text-align: center;
    font-size: 20px;
    font-family: "Lora", serif;
    font-weight: 400;
}

.diagram {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.ant-select-selection-placeholder {
    text-align: center !important;
}

.ant-select-selection-item {
    text-align: center !important;
}

.footer-container {
    background-color: rgb(0,26,47);
    font-family: "Lora", serif;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.footer-copyright {
    display: flex;
    justify-content: center;
}

.footer-main-container ul{
    list-style-type: none;
    color: white;
    /*font-size: 18px;*/
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.footer-img {
    background-image: url("/public/assets/footer.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-top: 30px;
}

.footer-main-container ul li:hover {
    text-decoration: underline;
    font-size: 19px;
    cursor: pointer;
}

.recharts-text.recharts-cartesian-axis-tick-value {
    white-space: pre-line;
}

.about-us-container {
    font-family: "Playpen Sans", cursive;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
}