@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%;
}

header {
  height: 70px;
  background-color: #cfebf7;
}

.layout {
  height: 100%;
}

.header-container {
  height: 100%;
  min-width: 1200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.main-container {
  height: 100%;
  min-width: 1200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


.main-container {
  margin-top: 0px;
  height: 100%;
}

.v-hidden {
  display: none;
}

.rese-header {
  text-align: center;
  font-size: 22px;
  font-family: "Lora", serif;
  margin-top: 30px;
}

.search-input {
  margin-top: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.racesList-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}